#osx noise
.DS_Store
.DS_Store?
profile
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#sublime
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

#visual studio code
#.vscode

*.diff
*.patch
!patches/*.patch

#frontend build
node_modules/
npm-debug.log
/*.png
/*.svg
.vscode
config.json

#idea
.idea

#create-react-app
./src/App.test.js
./src/logo.svg
./src/reportWebVitals.js
./public/logo192.png
./public/logo512.png
./public/manifest.json
./public/robots.txt

