.Table {
  width: 100%;
  max-height: calc(100vh - 208px);
  overflow: auto;
  border: 1px solid rgba(50, 130, 199, 1);
  border-radius: 10px;


  & tr {
    border-top: 1px solid rgba(50, 130, 199, .3);
  }

  & thead tr:first-child {
    border-top: none;
  }

  & th, & td {
    border-right: 1px solid rgba(50, 130, 199, .3);
  }

  & thead tr {
    border-bottom: 3px solid rgba(50, 130, 199, .3);
  }

  & thead th {
    border-right: 3px solid rgba(50, 130, 199, .3);
  }

  &__el {
    width: 100%;
    border-collapse: collapse;

    &_row {
      cursor: pointer;

      &:hover {
        .Table__el_item {
          background-color: bisque;
        }
      }
    }
    &_item {
      padding: 10px;
      transition: all .3s ease;
    }

    .head-el-active-up::before {
      float: outside;
      content: '▲';
      display: inline-block;
      margin-left: 1em;
    }

    .head-el-active-down::after {
      float: outside;
      content: '▼';
      display: inline-block;
      margin-left: 1em;
    }

    &_head {
      padding: 10px;
    }
  }
}
